body::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  background-color: aquamarine;
}
body::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 10px;
}
body::-webkit-scrollbar {
  background: #0f172a;
}

.card:hover {
  transform: scale(1.07);
}

.cards:hover {
  transform: scale(1.07);
}